<div id="google-cse-code">
        <script>
          (function() {
            var cx = '{{ site.search.gcse.cx }}'; 
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <div style="width:0px;overflow:hidden;height:0px;">
                <gcse:search></gcse:search>
        </div>

	<form class="navbar-search pull-right" id="searchbox_{{ site.search.gcse.cx }}" action="">  
  		<input value="{{ site.search.gcse.cx }}" name="cx" type="hidden"/>
  		<input type="text" class="search-query" placeholder="Search" id="q" style="" name="q">  
	</form>
</div>
