---
layout: page
title: Categories
---

<ul class="tag_box inline">

	{% assign categories_list = site.categories %} 
    {% if categories_list.first[0] == null %}
    	{% for category in categories_list %}
        	<li><a href="{{ BASE_PATH }}#{{ category }}-ref">{{ category }} <span>{{ site.categories[category].size }}</span></a></li>
    	{% endfor %}
  	{% else %}
    	{% for category in categories_list %}
        	<li><a href="{{ BASE_PATH }}#{{ category[0] }}-ref">{{ category[0] }} <span>{{ category[1].size }}</span></a></li>
    	{% endfor %}
  	{% endif %}
</ul>
<div class="home">

    <div class="post-list">


    <section id="archive">
{% for category in site.categories %}
  <h3 id="{{ category[0] }}-ref">{{ category[0] }}</h3>
  <ul>
    {% assign pages_list = category[1] %}
    {% for node in pages_list %}
    	{% if node.title != null %}
      		{% if group == null or group == node.group %}
        		{% if page.url == node.url %}
        <li class="active"><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a></li>
        		{% else %}
        <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
        		{% endif %}
      		{% endif %}
		{% endif %}
  {% endfor %}
{% assign pages_list = nil %}
  </ul>
{% endfor %}

    </div>
</div>
